{% extends 'base.html' %}
{% block title %}Resetare parola{% endblock %}

{% block content %}

    <!--/ Intro /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Resetare Parola</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'login' %}">Autentificare</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Resetare Parola
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro /-->

    <!--/ Passwd Reset /-->
    <section class="gdpr">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br><br>
                    <h2>Un e-mail cu instrucțiuni de resetare a parolei a fost trimis.</h2>
                    <hr>
                    <br><br>
                </div>
            </div>
        </div>
    </section>
    <!--/ Passwd Reset /-->

{% endblock %}