{% extends 'base.html' %}
{% block title %}Resetare parola{% endblock %}

{% block content %}

    <!--/ Intro /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Resetare Parola</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'login' %}">Autentificare</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Resetare Parola
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro /-->

    <!--/ Passwd Reset /-->
    <section class="password-reset-link">
        <div class="container">
            <form class="form-a contactForm" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="email" name="email"
                                   class="form-control form-control-lg form-control-a"
                                   placeholder="email" required>
                            <div class="validation"></div>
                        </div>
                        <button type="submit" class="btn btn-a">Reseteaza parola</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!--/ Passwd Reset /-->

{% endblock %}
