{% extends 'base.html' %}
{% block title %}Termenii de Utilizare{% endblock %}

{% block content %}

    <!--/ Intro /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Termenii de Utilizare</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'creeaza_user' %}">Cont Nou</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Termenii de Utilizare
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro /-->

    <!--/ Terms of Use /-->
    <section class="termsofuse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci animi assumenda
                        autem cumque dolor, doloribus expedita natus nulla repudiandae saepe sequi sint veniam veritatis
                        voluptas. Adipisci, commodi, consequuntur dolor dolores eligendi esse eum ipsum iusto minima nam
                        neque nulla omnis perspiciatis possimus praesentium qui ut. Accusantium at id, ipsam iusto maxime optio porro quo
                        repellat saepe voluptatibus? Dicta dolore dolorem earum eos error est ipsa libero maxime sed unde! Ab aut
                        commodi corporis culpa debitis deleniti dolorum eaque eveniet exercitationem explicabo id
                        inventore ipsa laboriosam laborum molestias, mollitia nisi odit possimus quam quas quasi quos sapiente sit tenetur unde vero
                        voluptatum! Accusamus beatae blanditiis commodi dolor dolores esse et hic, id illum impedit ipsam nulla
                        officiis porro possimus quae ratione suscipit, totam unde veritatis, voluptatem. Aliquam asperiores assumenda
                        aut consectetur cupiditate dicta doloremque ducimus facere illum itaque labore natus nesciunt non
                        odit officia perferendis quis quod reiciendis sequi soluta, tempore temporibus unde velit veritatis vero!
                        Cupiditate nam nesciunt rerum tempora vero. Ad asperiores, consectetur ducimus enim error est et eum eveniet
                        fuga illo illum laboriosam minus non officiis pariatur praesentium quia quibusdam quisquam similique
                        temporibus totam unde vel velit vitae voluptate. A alias aliquam, aliquid atque dicta dolore dolorum eius
                        eligendi eum excepturi facilis in incidunt ipsa iste iure laboriosam laborum maxime minima nam, nisi nobis
                        officia officiis omnis optio placeat quae quaerat reprehenderit rerum sit tenetur vel vero voluptate
                        voluptatum. Accusamus, at autem blanditiis commodi cupiditate earum esse est illum, nostrum numquam
                        officiis, recusandae sunt velit veritatis voluptas. Adipisci at aut culpa dolor eius est hic, maxime modi odit quae
                        recusandae reiciendis repellat suscipit. Ad aut autem consequuntur deleniti dolor, doloribus dolorum
                        ducimus eius esse eum harum incidunt labore libero magnam molestiae nemo neque nesciunt non nulla officia officiis
                        omnis quibusdam quis reiciendis reprehenderit sapiente, sint sit sunt tempora temporibus tenetur velit
                        vero voluptate. Doloribus error nobis praesentium quae recusandae? Amet animi cum eius error illum
                        magni molestias nam, natus, quas, quibusdam rem sit totam unde. Alias, animi blanditiis dolore eaque
                        expedita hic id illum iusto maxime modi nihil qui quod ratione repellendus reprehenderit similique,
                        voluptatibus? A distinctio dolor doloremque esse eum, ex labore praesentium quam repudiandae ullam! A
                        accusantium animi consequuntur cupiditate debitis delectus dignissimos distinctio error est excepturi facilis,
                        illum ipsa nemo nobis officia omnis placeat, provident quae quas quasi qui rerum sapiente totam ut velit
                        veritatis voluptatem voluptatibus. Aliquid atque deserunt esse porro praesentium temporibus!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--/ Terms of Use /-->

{% endblock %}