<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %} Acasa la Casa Verde {% endblock %}</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="{% static 'admin/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">

</head>
<body>
<div class="click-closed"></div>

<!--/ Search Bar /-->
<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Cauta Proprietate</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a" action="/listing/0/0/" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="keywords">Cauta dupa</label>
                        <input type="text" class="form-control form-control-lg form-control-a"
                               placeholder="ID, titlu, descriere" id="keywords" name="keywords">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="transactions">Tip Tranzactie</label>
                        <select class="form-control form-control-lg form-control-a" id="transactions"
                                name="transactions">
                            <option value="0"> -- </option>
                            <option value="1">Inchiriere</option>
                            <option value="2">Vanzare</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="types">Tip Proprietate</label>
                        <select class="form-control form-control-lg form-control-a" id="types" name="types">
                            <option value="0"> -- </option>
                            <option value="1">Garsoniere</option>
                            <option value="2">Apartamente</option>
                            <option value="3">Case</option>
                            <option value="4">Terenuri</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="rooms">Numar Camere</label>
                        <select class="form-control form-control-lg form-control-a" id="rooms" name="rooms">
                            <option value="0"> -- </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="district">Sector</label>
                        <select class="form-control form-control-lg form-control-a" id="district" name="district">
                            <option value="0"> -- </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="min_price">Pret Minim</label>
                        <input type="number" id="min_price" class="form-control form-control-lg form-control-a"
                               name="min_price">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="max_price">Pret Maxim</label>
                        <input type="number" id="max_price" class="form-control form-control-lg form-control-a"
                               name="max_price">
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-b">Cauta Proprietate</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--/ Search Bar /-->

<!--/ Nav Bar /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand text-center" href="{% url 'homepage' %}">
            Casa<span class="color-b">Verde</span><br>
            <small class="sub-brand">Accommodation</small>
        </a>
        <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'about' %}">Despre Noi</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Inchirieri
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listing' types='1' transactions='1' %}">Garsoniere</a>
                        <a class="dropdown-item" href="{% url 'listing' types='2' transactions='1' %}">Apartamente</a>
                        <a class="dropdown-item" href="{% url 'listing' types='3' transactions='1' %}">Case</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Vanzari
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listing' types='1' transactions='2' %}">Garsoniere</a>
                        <a class="dropdown-item" href="{% url 'listing' types='2' transactions='2' %}">Apartamente</a>
                        <a class="dropdown-item" href="{% url 'listing' types='3' transactions='2' %}">Case</a>
                        <a class="dropdown-item" href="{% url 'listing' types='4' transactions='2' %}">Terenuri</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'listing_create' %}">Adauga Anunt</a>
                            {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Consola de Admin</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Autentificare
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if is_logged_in %}
                            <a class="dropdown-item"
                               href="{% url 'logout' %}">Deconectare</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'creeaza_user' %}">Creeaza Cont</a>
                            <a class="dropdown-item"
                               href="{% url 'login' %}">Autentificare</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </div>
</nav>

{% block content %}{% endblock %}

<!--/ Footer /-->
<section class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Casa <span style="color: #2eca6a">Verde</span> Imob</h3>
                    </div>
                    <div class="w-body-a">
                        <p class="w-text-a color-text-a">
                            Simplifying home buying and home selling.
                        </p>
                    </div>
                    <div class="w-footer-a">
                        <ul class="list-unstyled">
                            <li class="color-a">
                                <span class="color-text-a">Phone: </span> +40 759 807 256
                            </li>
                            <li class="color-a">
                                <span class="color-text-a">Email: </span> casaverde.imobiliare@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Inchirieri</h3>
                    </div>
                    <div class="w-body-a">
                        <div class="w-body-a">
                            <ul class="list-unstyled">
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="{% url 'listing' types=1 transactions=1 %}">Garsoniere</a>
                                </li>
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="{% url 'listing' types=2 transactions=1 %}">Apartemente</a>
                                </li>
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="{% url 'listing' types=3 transactions=1 %}">Case</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Vanzari</h3>
                    </div>
                    <div class="w-body-a">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="{% url 'listing' types=2 transactions=1 %}">Garsoniere</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="{% url 'listing' types=2 transactions=2 %}">Apartemente</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="{% url 'listing' types=2 transactions=3 %}">Case</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="{% url 'listing' types=2 transactions=4 %}">Terenuri</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{% url 'homepage' %}">Acasa</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'about' %}">Despre Noi</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'listing' types=0 transactions=0 %}">Proprietati</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="socials-a">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/CasaVerde.imo"
                               style="background-color: #1877f2; color: #fff; border-radius: 5px; padding: 0 10px; font-size: 20px;">
                                <i class="fa fa-facebook" aria-hidden="true"></i>acebook
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-footer">
                    <p class="copyright color-text-a">
                        &copy; Copyright
                        <span class="color-a">S.C. Casa Verde Imob S.R.L.</span> All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript  -->
<script src="{% static 'admin/lib/jquery/jquery.min.js' %} "></script>
<script src="{% static 'admin/lib/jquery/jquery-migrate.min.js' %} "></script>
<script src="{% static 'admin/lib/popper/popper.min.js' %} "></script>
<script src="{% static 'admin/lib/bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'admin/lib/easing/easing.min.js' %} "></script>
<script src="{% static 'admin/lib/owlcarousel/owl.carousel.min.js' %} "></script>
<script src="{% static 'admin/lib/scrollreveal/scrollreveal.min.js' %} "></script>
<script src="{% static 'admin/js/main.js' %} "></script>

</body>
</html>
