{% extends 'base.html' %}
{% load static %}

{% block title %}Acasa la Casa Verde{% endblock %}

{% block content %}

    <!--/ Carousel /-->
    <div class="intro intro-carousel">
        <div id="carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-a intro-item bg-image"
                 style="background-image: url(/static/admin/img/slide-1.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <h1 class="intro-title mb-4">Casa
                                            <span class="color-b">Verde </span>
                                            <br>Imobiliare</h1>
                                        <p class="intro-subtitle intro-price">
                                            <span class="price-a">Simplifying home buying and home selling</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a intro-item bg-image"
                 style="background-image: url(/static/admin/img/slide-2.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <h1 class="intro-title mb-4">Casa
                                            <span class="color-b">Verde </span>
                                            <br>Imobiliare</h1>
                                        <p class="intro-subtitle intro-price">
                                            <span class="price-a">Simplifying home buying and home selling</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a intro-item bg-image"
                 style="background-image: url(/static/admin/img/slide-3.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <h1 class="intro-title mb-4">Casa
                                            <span class="color-b">Verde </span>
                                            <br>Imobiliare</h1>
                                        <p class="intro-subtitle intro-price">
                                            <span class="price-a">Simplifying home buying and home selling</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Carousel end /-->

    <!--/ Services /-->
    <section class="section-services section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Servicii</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-pencil"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Brokeraj</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Sed ei cariora fortunis ad aviam quis erat, et nesciebam quid ad munera eius. Semel eius
                                ruber holoserica petasum aviam dedit eam, et sedit quod optime cum puella illa et usque
                                non volunt quicquam aliud gerunt super caput eius.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-building"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Inchiriere</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Parva Rubra Hood, posuit fragmen massae hanc lagenam et vinum sunt in canistro, et avis
                                ad rapiunt illud, quod est infirmum, et infirmi haec at suscipit lacus, et auxiliatus
                                sum eas vires resumit. Verum fac te ante relinquere sopor et quiescere solet experiri
                                ambulare.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-home"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Vanzare</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                In avia silvarum a vico quasi media hora. Et Parva Rubra Hood, quam raritas intrat in
                                silva, lupus solum est de primo. Parva Rubra ignorasse malum sed lupus lupum et cum
                                vidisset quicquam nec metuit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Services End /-->

    <!--/ Best price /-->
    <section class="section-news section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Best Deals</h2>
                        </div>
                        <div class="title-link">
                            <a href="{% url 'listing' types=0 transactions=0 %}">Toate Proprietatile
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="new-carousel" class="owl-carousel owl-theme">
                {% for featured in featured_listings %}
                    <div class="carousel-item-c">
                        <div class="card-box-b card-shadow news-box">
                            <div class="img-box-b">
                                <img src="{{ featured.photo_main.url }}" alt="Photo" class="img-b img-fluid"
                                     style="max-height: 400px; min-height: 400px; min-width: 550px">
                            </div>
                            <div class="card-overlay">
                                <div class="card-header-b">
                                    <div class="card-category-b">
                                        <a href="#"
                                           class="category-b">{{ featured.get_currency_display }} {{ featured.price }}</a>
                                    </div>
                                    <div class="card-title-b">
                                        <h2 class="title-2">
                                            <a href="{% url 'listing_details' pk=featured.id %}">{{ featured.title }}</a>
                                        </h2>
                                    </div>
                                    <div class="card-date">
                                        <span class="date-b">{{ featured.list_date }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--/ Best price End /-->

    <!--/ Latest Properties /-->
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Ultimele Proprietati</h2>
                        </div>
                        <div class="title-link">
                            <a href="{% url 'listing' types=0 transactions=0 %}">Toate Proprietatile
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="property-carousel" class="owl-carousel owl-theme">
                {% for head in heading_listings %}
                    <div class="carousel-item-b">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="{{ head.photo_main.url }}" alt="Photo" class="img-a img-fluid"
                                     style="max-height: 400px; min-height: 400px; min-width: 550px">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h4 class="card-title-a">
                                            <a href="{% url 'listing_details' pk=head.id %}">{{ head.title }}</a>
                                        </h4>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">{{ head.get_currency_display }} {{ head.price }}</span>
                                        </div>
                                        <a href="{% url 'listing_details' pk=head.id %}" class="link-a">Detalii
                                            <span class="ion-ios-arrow-forward"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">m<sup>2</sup></h4>
                                                <span>{{ head.surface }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Etaj</h4>
                                                <span>{{ head.floor }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Camere</h4>
                                                <span>{{ head.rooms }}</span>
                                            </li>

                                            <li>
                                                <h4 class="card-info-title">Bai</h4>
                                                <span>{{ head.bathrooms }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--/ Property End /-->

{% endblock %}