{% extends 'base.html' %}

{% block title %}Proprietati{% endblock %}

{% block content %}

    <!--/ Intro /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Proprietati</h1>
                        <span class="color-text-a">{{ properties.types }}</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'homepage' %}">Acasa</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Proprietati
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro /-->

    <!--/ Listings /-->
    <section class="property-grid grid">
        <div class="container">
            <div class="row">
                {% for prop in properties %}
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="{{ prop.photo_main.url }}" alt="" class="img-a img-fluid"
                                     style="max-height: 400px; min-height: 400px;">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="{% url 'listing_details' pk=prop.id %}">{{ prop.title }}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">{{ prop.get_currency_display }} {{ prop.price }}</span>
                                        </div>
                                        <a href="{% url 'listing_details' pk=prop.id %}" class="link-a">Detalii
                                            <span class="ion-ios-arrow-forward"></span>
                                        </a>
                                        {% if request.user.is_staff %}
                                            <div class="price-box d-flex">
                                                <a href="{% url 'listing_edit' id=prop.id origin_url=path %}"
                                                   class="link-a"><span class="fa fa-edit"></span></a>
                                                <a href="{% url 'sterge_anunt' id=prop.id origin_url=path %}"
                                                   class="link-a"><span class="fa fa-remove"></span></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">m<sup>2</sup></h4>
                                                <span>{{ prop.surface }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Etaj</h4>
                                                <span>{{ prop.floor }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Camere</h4>
                                                <span>{{ prop.rooms }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Bai</h4>
                                                <span>{{ prop.bathrooms }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!--/ Paginator /-->
            <div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        <ul class="pagination justify-content-end">
                            {% if properties.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ properties.previous_page_number }}"
                                       tabindex="-1">
                                        <span class="ion-ios-arrow-back"></span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in properties.paginator.page_range %}
                                {% if properties.number == num %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ num }}</a>
                                    </li>
                                {% elif num > properties.number|add:'-2' and num < properties.number|add:'2' %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if properties.has_next %}
                                <li class="page-item next">
                                    <a class="page-link" href="?page={{ properties.next_page_number }}">
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!--/ Paginator /-->

        </div>
    </section>
    <!--/ Listings /-->

{% endblock %}

