{% extends 'base.html' %}

{% block title %} {{ option }} {% endblock %}

{% block content %}
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{ option }}</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'listing' types=0 transactions=0 %}">Proprietati</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ option }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro /-->

    <!--/ Listings /-->
    <section class="listings">
        <div class="container">
            <div class="col-md-12">
                <h2>Esti sigur ca vrei sa stergi acest anunt?</h2>
                <form class="form-a contactForm" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <input type="hidden" name="contact_request_id" value="{{ listing_delete.id }}">
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" onclick="history.back()" class="btn btn-outline-danger">NU</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-outline-success">Sterge!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--/ Listings /-->

{% endblock %}